{% extends 'prototipo/base.html' %}

{% block content %}
        <h1>Señal</h1>

    <div class="starter-template">
        <div class="row">
            <div class="col-xs-6 col-md-6">

                <div class="col-xs-12">

                    <div id="grap1" style="width: 500px; height: 200px; margin: 0 auto"></div>
                    <div id="grap2" style="width: 500px; height: 200px; margin: 0 auto"></div>
                    <div id="grap3" style="width: 500px; height: 200px; margin: 0 auto"></div>
                </div>

            </div>

            <div class="col-xs-6 col-md-2">

                <div id="dialog" title="Filtros" style="display:none;">
                    <button class="btn btn-default" >Pasa bajo</button>
                    <button class="btn btn-default" >Pasa alto</button>
                    <a class="btn btn-default" href="ver1.html" role="button">Bandstop</a>
                    <button class="btn btn-default" >Pasa banda</button>
                </div>

                <button class="btn btn-default" onclick="abrir_dialog()">Aplicar filtro</button>


            </div>

            <div class="col-xs-6 col-md-4">
                <table class="table table-striped">
                    <tr>
                        <th scope="row"> Network: {{ sismo.network }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{ sismo.station }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{ sismo.channel }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{ sismo.starttime }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{ sismo.endtime }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{sismo.sampling_rate }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{ sismo.delta }}</th>
                    </tr>

                    <tr>
                        <th scope="row">{{ sismo.npts }}</th>
                    </tr>

                    <tr>
                        <th scope="row">{{ sismo.calib }}</th>
                    </tr>

                    <tr>
                        <th scope="row"> {{ sismo.format }}</th>
                    </tr>

                </table>

            </div>


        </div>

    </div>


{% endblock content%}